@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* default body font */
}

/* Apply primary font to headings and important text */
h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Poppins', sans-serif;
}

/* Apply secondary font to normal text */
body, p, span, a, .font-secondary {
  font-family: 'Inter', sans-serif;
}
